<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /2026/
  
  # 1. Exclude the API folder and existing files from redirection
  RewriteRule ^api/ - [L]
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # 2. Redirect everything else to index.html for React Router
  RewriteRule . index.html [L]
</IfModule>
